h1 {
  color: white;
}
h2{
  color: blue;
}
h3{
  background-color: yellow;
}
h4{
color: yellow;
background-color: #228b22;
}
h5{
  color: purple;
}
#red{
  color: red;
}
#mint{
  background-color: #00fa9a;
}
.orange{
  color: orange;
}
header {
 background-color: #7b68ee;
}
a:link {
 color: green;
 text-decoration: none;
}

a:hover {
 color: red;
 text-decoration: underline;
}
