
body {
  background-image: url(ISU.png);
  background-repeat: no-repeat;
  background-position: top right;
}
a:link {
 color: #ff0000;
}

a:visited {
 color: #00ff00;
}


a:hover {
 color: #ffff00;
}
#div1 {
  color: #ffffff;
  background-color: #000000;
}
.spanstyle {
  color: #ff00f0;
}

#specialid {
  background-color: #f000f0;
}
.specialp {
  color: #f0fff0;
  background-color: #000000;
}
#secondid {
  color: green;
  background-color: #7FFFD4;
}

h3 {
  color: orange;
  font-style: italic;
}
h2 {
  color: orange;
  font-style: italic;
}
h1 {
  color: orange;
  font-style: italic;
}
p {
  color: #ffffff;
  background-color: #000000;
}

span {
font-family: sans-serif;
}
.textcenter {
text-align: center;
}
.justify {
  text-align: justify;
}
.border {
  border: 8px solid black;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
