body {
    margin: 0;
    margin-top: 50px;
}

header {
    font-family: 'Vollkorn', serif;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #cc9900;
    border-bottom: 3px solid black;

}

header * {
    display: inline;
    height: 50px;
  font-family: 'Vollkorn', serif;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}
header a {
    text-decoration: none;
    color: black;

}
li:hover {
  background-color: #ffcc00;
}
section {

    height: 100vh;
    border: 3.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}
p{
font-size: 1.35em;
font-family: 'Vollkorn', serif;
  background-color: #cc9900;
  padding: 40px 20px 40px 20px;
  padding: 10px;
width: 1000px;
border: 2px solid black;
background-color: #cc9900;
border-radius: 10px;
}

#home h1 {
    font-size: 3.5em;
    font-family: 'Abril Fatface', cursive;
    border-style:solid;
    border-color: #cc9900;
    padding: 10px;
  width: 275px;
  height: 275px;
  border: 3px solid black;
  background-color: #cc9900;
  color: black;
  border-radius: 300px;
}

section h2 {
    font-size: 4em;
    font-family: 'Abril Fatface', cursive;
    text-decoration-color:#cc9900;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #cc9900;


}

section h3 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#home .profile-img {
    width: 300px;
    border-radius: 20%;
    Height: 330px;
    opacity: 95%;
}
iframe{
  width: 440px;
 height: 245px;
 padding:10px;
}
audio{
  padding: 30px;
}


#home {
    background-image: linear-gradient(rgba(300,300,300,0.15),rgba(300,300,300,0.35)), url("gold.jpg");
}

#about {
      background-image: linear-gradient(rgba(300,300,300,0.15),rgba(300,300,300,0.35)), url("gold.jpg");
}

#media {
  background-image: linear-gradient(rgba(300,300,300,0.15),rgba(300,300,300,0.35)), url("gold.jpg");
}
footer {
  font-family: 'Vollkorn', serif;
  font-size: 22px;
    text-align: center;
    padding: 50px;
    background-color: #cc9900;
}
